
<div class="container">
  <div class="row">
    <form [formGroup]="formPlato">
      <div class="col-md-2 col-sm-12">
        <label for="">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre">
      </div>
      <div class="col-md-2 col-sm-12">
        <label for="">Precio</label>
        <input type="text" class="form-control" formControlName="precio">
      </div>
      <div class="col-md-2 col-sm-12">
        <label for="">Oferta</label>
        <input type="text" class="form-control" formControlName="oferta">
      </div>
      <div class="col-md-2 col-sm-12">
        <label for="">Color</label>
        <input type="text" class="form-control" formControlName="color">
      </div>
      <div class="col-md-2 col-sm-12">
        <label for="">Inicio Actividad</label>
        <ngb-datepicker (dateSelect)="onDateSelect($event)"></ngb-datepicker>
      </div>
      <div>
        <button class="btn btn-success" (click)="salvar()">Salvar</button>
        <button class="btn btn-danger" (click)="delete()">Borrar</button>
      </div>
    </form>
  </div>
  <h3>Platos</h3>
  <table class="table">
    <thead>
      <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Precio</td>
        <td>Oferta</td>
        <td>Color</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let plato of platos" (click)="getData($event)" >
        <td [id]='plato.id'>{{plato.id}}</td>
        <td >{{plato.nombre}}</td>
        <td>{{plato.precio}}</td>
        <td>{{plato.oferta}}</td>
        <td>{{plato.color}}</td>

      </tr>
    </tbody>
  </table>
  
</div>